[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
requests-cache = "*"
websocket-client = "*"
financial-modeling-prep = {file = "."}

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pylint = "*"
build = "*"
twine = "*"
pre-commit = "*"
coveralls = "*"
ruff = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
